
Body
{
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Roboto',SANS-SERIF;
}
a
{
	text-decoration: none;
	color:black;
}

a:visited
{
	color:black;
	text-decoration: no
}

#SearchBar
{
	border: none;
	font-family: 'Roboto', sans-serif;
}
#SearchBar:focus
{
	outline: 0px;
}

#Top_search
{
    border-bottom: 1px solid #9c9b97;
}
 
 #Footer
{
    align-items: center;
    display: flex;
    height: 8.9%;
    justify-content: space-evenly;
}

#Button_search
{
	cursor: pointer;
	border: none;
	background-color: white;
	padding: 0px;
	display: none;
}

#Img_searchBar
{
	height: 100%
}

#Main_container
{
}



#Footer
{
	background-color: #e4e4e4;
}

#Title
{font-size: 40px;}

#Text
{font-size: 23px;}
.Button_Footer
{
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
}
.Button_Footer:Hover
{
    
    box-shadow: 0px 0px 5px #000000;
}