Body
{
	margin: 0px;
}
a
{
	text-decoration: none;
	color:black;
}

a:visited
{
	color:black;
	text-decoration: none;
}

#SearchBar
{
	border: none;
	padding: 0px;
}
#SearchBar:focus
{
	outline: 0px;
}

#Main_container
{
	
border-radius: 5px;
	
border: solid 1px orange;
	
}

#Button
{
	border: none;
	background-color: white;
	padding: 0px;
}

#Footer
{border-top: solid 1px orange;}

.Button_Footer
{
    border-radius: 7px;
}
.Button_Footer:Hover
{
    background-color: rgba(210, 210, 210, 0.9);
}

#Top
{	
	
font-size: larger;
	
border-bottom: 1px solid orange;
}

#Top_Text
{
margin-left: 10px;
}
