<%- include('partials/head'); -%>

	<link rel='Stylesheet' href='../css/about_design.css'>
	<link rel='Stylesheet' href='../css/about_layout.css'>
</head>

<body>

	<%- include('partials/top_search'); -%>

	<div id='mainContainer'>
		<h1>
			What is JAHSEH?
		</h1>
		<p>
			JAHSEH, or lesser known as "Just another search engine homie", is a primitive search engine that a group of
			swedish highschool students developed. If you have any further questions please contact us.
		</p>
	</div>

	<%- include('partials/footer'); -%>

</body>

</html>
