<%- include('partials/head'); -%>

	<link rel='Stylesheet' href='CSS/Contacts_design.css'>
	<link rel='Stylesheet' href='CSS/Contacts_layout.css'>

</head>

<body>

	<%- include('partials/top_search'); -%>

	<div id='mainContainer'>
		<h1>
			<b> Do you want to contact us? </b>
    </h1>
		<p>
			If you want to contact us please Email us at JAHSEH.SearchEngine@gmail.com
		</p>
	</div>
	<%- include('partials/footer'); -%>
</body>

</html>
