<%- include('partials/head'); -%>

  <link rel='Stylesheet' href='../css/Index_design.css'>
	<link rel='Stylesheet' href='../css/index_layout.css'>

</head>

<body>
	<div id='Top'>
		<div id='Top_Text'>
			Just Another Hecking Search Engine Homie
		</div>
	</div>
	<div id='mainContainer'>
		<div id='Logo_container'>

      <%- include('../public/img/XTree.svg'); -%>

			<b>JAHSEH</b>
		</div>
		<div id='main'>
			<div id='searchContainer'>
				<form method="GET" action="/output">
					<input type='text' placeholder='Search..' name='search' id='searchBar'>
			</div>
				<button type='submit' id='searchButton'><i class='fa fa-search'></i></button>
		</div>
	</div>
	<%- include('partials/footer'); -%>
</body>

</html>
