<div id='topSearch'>
  <a href="/">
    <%- include('../../public/img/XTree.svg'); -%>
  </a>
  <form action="/output">
    <input type='text' placeholder='Search..' name='search' id='searchBar'>
    <button type='submit' id='searchButton'><i class='fa fa-search'></i></button>
</div>
