<div id='Top_search'>
  <img src='../img/XTree.png' id='Img_searchBar'> </img>
  <form action="/output">
    <input type='text' placeholder='Search..' name='search' id='SearchBar'>
    <button type='submit' id='Button_search'><i class='fa fa-search'></i></button>
</div>