Body
{
	
height: 100vh;
}

#SearchBar
{
	
width: 25vw;
	
margin-left: 5px;
}

#Main_container
{

width: max-content;
}
#Top
{
	
justify-content: end;
	
display: flex;
	
height: 5%;
	
align-items: center;
}

#Main
{
	
height: 86%;
	
width: 100%;
	
display: flex;
	
align-items: center;
	
justify-content: center;
}
#Button
{
	margin-right: 2px;
}
#Footer
{
    align-items: center;
    display: flex;
    height: 8%;
    justify-content: space-evenly;
}

.Button_Footer
{
	
display: flex;
	
width: max-content;
	
height: 30px;
	
justify-content: center;
	
align-items: center;
}