.URL_container {
  width: 40vw;

  margin-left: 5vw;
  margin-bottom: 1rem;
}

#mainContainer {
  justify-content: space-evenly;

  /*   height: 100vh; */

  display: flex;

  flex-direction: column;
}

#searchButton
{
  display: none;
}